:root {

    --color-blue-dark: rgb(0, 0, 156);    
    --filter-blue-dark: invert(16%) sepia(29%) saturate(6858%) hue-rotate(230deg) brightness(87%) contrast(138%);
    
    --color-disabled: #dab8d1;
    --filter-disabled: invert(90%) sepia(8%) saturate(1243%) hue-rotate(281deg) brightness(89%) contrast(90%);



    --color-blue-light: azure;
    --border: 1px solid var(--color-blue-dark);
}

body {
    background-color: var(--color-blue-light);
    font-family: 'IBM Plex Mono', monospace;
    color: var(--color-blue-dark);
}

h1, h2, h3, h4, h5, h6 {

    font-weight: 400;
}

.container {
    display: grid;
}

.bulb {
    max-width: 3rem;
    
}

.bulb, .tool {
    filter: var(--filter-blue-dark);
}

.disabled > .tool {
    filter: var(--filter-disabled);
}

.garden, .terminal {
    border: var(--border);
    padding: 1rem;
    margin: 1rem;
}

.garden {
    height: 50vh;
}

.tool {
    max-width:5rem;
    margin: 0 auto;
    display: block;
}

.terminal {
    min-height: 30vh;
}

.equipment {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: auto; 
}
.equipment div {
    padding: 1rem;
}

.trowel .tool {
    transform: scaleX(-1);
}

.disabled, .disabled > .tool {
    color: var(--color-disabled);
    /* filter: var(--filter-disabled); */
}